.auth-page-container {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: auto;
  margin-bottom: 1rem;
  max-width: 95%;
  width: 50rem;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
}

.auth-container {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #4b4b4b;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  min-height: 12rem;
  max-height: 100%;
  width: 17rem;
  max-width: 100%;
  margin: 3rem auto;
  justify-content: space-between;
}

.auth-container-input {
  padding: 0.35rem 0;
  border: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: white;
  width: 100%;
  outline: none;
  transition: 0.5s;
}

.auth-container-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.auth-container-input:focus,
.auth-container-input:hover {
  border-bottom: 1px solid white;
}

.auth-container span {
  color: white;
}

.auth-container button {
  background-color: #2a2a2a;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 0.4rem 0.85rem;
  transition: 0.5s;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #3a3a3a;
}

.auth-container button:disabled {
  background-color: #2a2a2a;
  cursor: default;
  opacity: 50%;
}
