.card-header-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card-header-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header-container input[type='text'] {
  font-family: inherit;
  font-size: x-large;
  padding: 0;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: white;
  outline: none;
  transition: 0.5s;
}

.card-header-container input[type='text']:focus,
.card-header-container input[type='text']:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.card-header-container input[type='checkbox'] {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
  opacity: 70%;
  transition: 0.5s;
}

.card-header-container input[type='checkbox']:checked,
.card-header-container input[type='checkbox']:hover {
  opacity: 100%;
}

.card-header-edit-buttons {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.4rem;
  align-self: start;
  align-items: center;
}

.card-header-container svg {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  opacity: 70%;
}

.card-header-container svg:hover {
  background-color: #ffffff31;
  opacity: 100%;
}
