.card-header-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.card-header-title {
  margin: 0;
  overflow: auto;
  display: flex;
}

.card-header-container input[type='text'] {
  font-size: x-large;
  height: 2rem;
  padding: 0rem;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  display: flex;
  overflow: auto;
  color: white;
  outline: none;
  transition: all 0.4s cubic-bezier(0.05, 0, 0, 1);
}

.card-header-container input[type='text']:focus,
.card-header-container input[type='text']:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.card-header-container input[type='checkbox'] {
  transform: scale(1.7);
  margin-left: 0.5rem;
}

.card-header-edit-buttons {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.card-header-container svg {
  zoom: 1.3;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.05, 0, 0, 1);
}

.card-header-container svg:hover {
  color: white;
}
