.card-adding-item {
  padding: 1rem;
  background-color: #4b4b4b;
  color: white;
  width: calc((50rem - 2rem) / 3 - 1rem / 3 * 2);
  max-width: 100%;
  min-height: 11rem;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}

.card-adding-container {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

.card-adding-item input {
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.card-adding-item textarea {
  display: flex;
  padding: 0.35rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  width: 100%;
}

.card-adding-button-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-adding-button {
  background-color: #2a2a2a;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  transition: background-color 0.4s cubic-bezier(0.05, 0, 0, 1);
}

.card-adding-button:hover {
  background-color: #777777;
}
