.card-adding-item {
  padding: 1rem;
  background-color: #4b4b4b;
  color: white;
  min-width: calc((50rem - 4rem) / 3);
  max-width: calc(100% / 3 - 2rem);
  min-height: 11rem;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  gap: 0.5rem;
}

.card-adding-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  height: 100%;
}

.card-adding-item input {
  display: flex;
  padding: 0 0.35rem;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  outline: none;
  transition: 0.5s;
  font-size: x-large;
  font-family: inherit;
}

.card-adding-item input:focus,
.card-adding-item input:hover {
  border-bottom: 1px solid white;
}

.card-adding-item textarea {
  display: flex;
  padding: 0.35rem;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.card-adding-item textarea:focus,
.card-adding-item textarea:hover {
  border: 1px solid white;
}

.card-adding-button-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-adding-button-conteiner button {
  background-color: #2a2a2a;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem 0.85rem;
  transition: 0.5s;
  cursor: pointer;
}

.card-adding-button-conteiner button:hover {
  background-color: #3a3a3a;
}

.card-adding-button-conteiner .cancel {
  background-color: #2a2a2a00;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 54rem) {
  .card-adding-item {
    max-width: calc(100% / 2 - 0.5rem);
  }
}

@media (max-width: 36.33rem) {
  .card-adding-item {
    min-width: 100%;
  }
}
